<div class="main-container">
    <div class="content">
        <img class="photo1" src="./assets/hero-section/photo1.png" alt="Photo">
        <div class="info-container">
            <div class="text">
                <h2>Why Me?</h2>
                <div class="description">
                    <p>
                        Write some information about yourself that is IT related. Why are you passionate about coding?
                        Highlight your motivation for professional growth and continuous learning. Emphasise your strong
                        problem-solving skills and passion for coding. </p>
                </div>
            </div>
        <div class="about-me">
            <div class="about-me-text">
                <span>I am</span>
                <div class="card">located in Freiburg</div>
                <div class="card">open to work remote</div>
                <div class="card">open to relocate</div>
        </div>
        </div>
    </div>
</div>