.main-container {
    padding-left: 105px;
    padding-right: 113px;
}

.content {
    display: flex;
    align-items: center;
    gap: 42px;
    height: 452px;

    .photo1 {
        height: 452px;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h2 {
        font-family: 'Roboto Mono';
        font-weight: 500;
        font-style: Medium;
        font-size: 54px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: right;
        color: #E15544;
        margin: 0;
        margin-bottom: 29px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: flex-end;

    p {
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: right;
        color: #02F4BF;
        margin: 0;
        width: 685px;
    }
}

.about-me-text {
    span {
        color: #E15544;
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 120%;
    }

    .card {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #02F4BF;
    }
}