app-myskills-section, app-whyme-section, app-contact-section {
    display: block;
    margin-top: 104px;
    height: auto;
}

app-references-section {
    display: block;
    margin-top: 37px;
    height: auto;
}