<section class="legal-notice">
  <h1 class="legal-title">{{ 'legal.title' | translate }}</h1>

  <div class="legal-section">
    <h2 class="title">{{ 'legal.imprint.title' | translate }}</h2>
    <ul>
      <li>{{ 'legal.imprint.name' | translate }}</li>
      <li>{{ 'legal.imprint.address1' | translate }}</li>
      <li>{{ 'legal.imprint.address2' | translate }}</li>
    </ul>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.exploring.title' | translate }}</h2>
    <p>{{ 'legal.exploring.email' | translate }}</p>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.acceptance.title' | translate }}</h2>
    <p [innerHTML]="'legal.acceptance.text' | translate"></p>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.scope.title' | translate }}</h2>
    <p [innerHTML]="'legal.scope.text1' | translate"></p>
    <p [innerHTML]="'legal.scope.text2' | translate"></p>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.proprietary.title' | translate }}</h2>
    <p [innerHTML]="'legal.proprietary.text' | translate"></p>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.use.title' | translate }}</h2>
    <p [innerHTML]="'legal.use.text' | translate"></p>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.disclaimer.title' | translate }}</h2>
    <p [innerHTML]="'legal.disclaimer.text' | translate"></p>
  </div>

  <div class="legal-section">
    <h2>{{ 'legal.indemnity.title' | translate }}</h2>
    <p [innerHTML]="'legal.indemnity.text1' | translate"></p>
    <p>{{ 'legal.indemnity.text2' | translate }}</p>
  </div>

  <p class="legal-date">{{ 'legal.date' | translate }}</p>
</section>
