* {
    margin: 0;
    color: #E15544;
}

footer {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    height: 196px;
    padding-block: 24px;
    padding-inline: 131px;
    gap: 58px;
    max-width: 1440px;
    width: 100%;

    a {
        color: #E15544;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.copyright-mobile {
    display: none;
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;

    div {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        cursor: pointer;

        &:hover {
            color: #02F4BF;
            font-weight: 700;
            transition: ease-out 250ms;
        }
    }
}


span {
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    display: flex;
}

.contact-links {
    display: flex;
    gap: 33px;

    a {
        img {
            cursor: pointer;

            &:hover {
                filter: brightness(0) saturate(100%) invert(77%) sepia(79%) saturate(2027%) hue-rotate(128deg) brightness(101%) contrast(98%);
            }
        }
    }
}


.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .logo-title {
        font-family: Handjet;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 5px;
    }

    .logo-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
    }
}

.footer-middle-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1434px) {
    footer {
        padding-inline: clamp(20px, 10vw, 131px);
    }
}

@media (max-width: 1100px) {
    .logo-container {
        .logo-title {
            font-size: 48px;
        }
    }
}

@media (max-width: 1024px) {
    footer {
        height: auto;
        padding-block: 16px;
        position: relative;
        padding-inline: 25px;
    }
}

@media (max-width: 862px) {
    footer {
        flex-direction: column;
        padding: 29px;
    }

    .copyright-mobile {
        display: block;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .copyright {
        display: none;
    }

    .legal-links {
        margin: 0;
        align-items: center;
        flex-direction: column;
        gap: 8px !important;

        a {
            font-size: 14px !important;
        }
    }

    .contact-links {
        order: 1;
    }

    .logo-container {
        order: 2;

        .logo-title {
            font-size: 44px;
        }
    }

    .footer-middle-part {
        order: 3;
    }

    .logo-text {
        display: none;
    }
}

@media (max-width: 480px) {
    .logo-container {
        .logo-title {
            font-size: 50px;
        }

        .logo-text {
            font-size: 10px;
        }
    }

    .contact-links {
        gap: 32px !important;
    }
}

@media (max-width: 320px) {}